$radius: 6px;

.create-screen {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;

  h1 {
    margin-bottom: 10px;
    color: #adadad;
  }

  a {
    text-decoration: none;
    border-radius: $radius;
    transition: 0.2s;
    padding: 10px;
    color: #fff;

    &:hover {
      filter: opacity(0.7);
    }

    &.wrapper {
      background-color: #6091a3;
    }

    &.back-button {
      background-color: #9aabb1;
      align-items: center;
      display: flex;
      height: 100%;
    }
  }

  .wrapper {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 10px;

    img {
      height: 40px;
      width: 40px;
    }
  }

  label {
    width: 50%;
    input[type="text"] {
      border-radius: 10px;
      padding: 10px;
      border: none;
      margin: 10px;
      width: 100%;
    }
  }
}
