.flex-center-row {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.flex-center-column {
  @extend .flex-center-row;
  flex-direction: column;
}

.figa-content {
  @extend .flex-center-column;
  height: 100%;
  gap: 40px;

  .box {
    @extend .flex-center-column;
    gap: 40px;

    width: 100%;

    p {
      font-size: 20px;
    }

    h1 {
      @extend .flex-center-row;
      text-decoration: wavy;
      gap: 20px;
      img {
        width: 50px;
        height: 50px;
      }
    }

    .buttons {
      @extend .flex-center-row;
      justify-content: space-evenly;

      width: 50%;

      a {
        @extend .flex-center-row;
        gap: 10px;

        background-color: #378cc5;
        text-decoration: none;
        border-radius: 4px;
        padding: 10px;
        font-size: 20px;
        box-shadow: 2px 2px 10px #000;
        color: #fff;
      }
    }
  }
}
