.npm-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  table {
    border-collapse: collapse;
    border-radius: 10px;
    width: 80%;

    td {
      border: dashed #cfcfcf;
      color: #6472b7;
      padding: 10px;
    }
  }

  p.wrapper {
    margin-bottom: 10px;
    justify-content: left;
    align-items: center;
    display: flex;
    width: 80%;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}
