@font-face {
  src: url("assets/fonts/playwrite.ttf");
  font-family: play-write;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ddd;
  font-family: play-write;
  overflow-x: hidden;
  user-select: none;
  height: 100vh;
  width: 100vw;
}

#app {
  padding: 10px;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  background-color: #4472d4;
  transition: 0.2s;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  width: fit-content;
  &:hover {
    background-color: #90a7da;
  }
}
